@import "const";

.booking-checkout-container {
  background-color: rgba(245, 245, 245, 0.3);
  min-height: 100vh;
  max-width: 600px;
  padding: 0 20px;

  .scheduler-booking-tariff-buttons {
    height: 20px;
    margin-top: 10px;

    span {
      float: left;
    }

    .scheduler-booking-tariff-button {
      float: left;
      margin-left: 5px;
      background-color: transparent;
      color: #777;
      text-align: center;
      font-size: 12px;
      padding-left: 5px;
      padding-right: 5px;
      justify-content: center;
      display: flex;
      align-content: center;
      cursor: pointer;

      &.current {
        border-bottom: 2px solid $dark-color;
        color: $dark-color;
      }
    }
  }

  .booking-warning {
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;

    i {
      font-size: 20px;
      color: $blue-color;
    }

    .booking-warning-text {
      display: flex;
      flex-direction: column;
      line-height: 12px;
      margin-left: 8px;

      span {
        font-size: 12px;
      }
    }


  }

  .booking-locker-room-weekly-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 10px;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;

    .booking-locker-room-weekly-row-right {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
    }

    .checkbox {
      margin-top: 10px;
    }
  }

  .booking-checkout-header {
    font-weight: bold;
    font-size: 16px;
    padding-top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .booking-checkout-stadium {
    font-size: 15px;
    padding-top: 10px;
  }

  .booking-checkout-field {
    font-size: 14px;
    padding-top: 15px;
    display: flex;

    img {
      height: 80px;
      margin-right: 10px;
    }

    .booking-checkout-field-text {

      .booking-checkout-field-name {
        font-weight: bold;
      }
      .booking-checkout-field-description {
        height: 38px;
        font-size: 13px;
        padding-left: 5px;
      }

      .booking-checkout-field-sports {
        height: 20px;

        .field-sport {
          float: left;
          margin-left: 5px;
          border-radius: 5px;
          background-color: $dark-color;
          color: white;
          text-align: center;
          font-size: 12px;
          padding-left: 5px;
          padding-right: 5px;
          justify-content: center;
          display: flex;
          align-content: center;
        }
      }
    }
  }

  .booking-checkout-durations {
    padding-top: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .booking-checkout-amount {
    display: flex;
    justify-content: flex-end;
    font-size: 17px;
    padding-top: 10px;
  }

  .booking-checkout-inventories {
    padding-top: 15px;
    border-top: 1px solid #eee;
    margin-top: 10px;

    .booking-checkout-inventories-title {
      font-size: 15px;
    }

    .booking-checkout-inventory-row {
      display: flex;
      margin-top: 10px;
      padding: 5px;
      align-items: center;
      justify-content: space-between;

      .booking-checkout-inventory-row-block {
        display: flex;
        width: 50%;
        justify-content: space-between;
        align-items: center;

        img {
          height: 50px;
          width: 50px;
          margin-right: 10px;
        }

        .booking-checkout-inventory-row-name {
          font-weight: bold;
        }

        .booking-checkout-inventory-row-button {
          cursor: pointer;
          font-size: 16px;
          font-weight: bold;
        }

        .booking-checkout-inventory-row-price {
          margin-right: 15px;
          font-weight: bold;
        }
      }
    }

  }

  .booking-manual-discount {
    padding-top: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 3px !important;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;

    span {
      margin-right: 5px;
      font-size: 15px;
    }
  }

  .booking-checkout-promo {
    padding-top: 15px;
    display: flex;
    align-items: center;
    margin-bottom: 3px !important;
    justify-content: flex-end;

    input {
      width: 250px !important;
    }

    i {
      cursor: pointer;
      font-size: 16px;
      margin-left: 10px;
    }
  }

  .booking-checkout-promo-message {
    text-align: right;
    width: 100%;
  }

  .booking-checkout-inputs {
    width: 100%;
    display: block;
    overflow: auto;
    padding-top: 10px;
    padding-bottom: 10px;

    label {
      width: 100%;
      margin-bottom: 5px;
    }

    .field {
      margin-top: 10px !important;
    }
  }

  .booking-checkout-buttons {
    margin-top: 8px;
    justify-content: center;
    display: flex;
    width: 100%;
  }
}

.booking-cancel-overlay {
  width: 380px;
  padding: 15px;

  textarea {
    width: 350px !important;
  }
  .checkbox {
    margin-top: 10px;
  }
  .booking-cancel-overlay-buttons {
    margin-top: 10px;
    text-align: center;
  }
}

.booking-list-container {
  background-color: rgba(245, 245, 245, 0.5);
  overflow: hidden;
  min-height: 100vh;

  .booking-list-header {
    padding-top: 9px;
    display: flex;
  }

  .booking-list-cards {
    overflow: auto;
    padding-bottom: 10px;
    min-height: calc(100vh - 102px);

    .booking-list-card {
      background-color: white;
      margin-top: 10px;
      position: relative;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      height: 145px;

      .is-weekly {
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: $dark-color;
        color: white;
        font-size: 10px;
        padding: 0 10px;
        border-top-right-radius: 10px;
        font-weight: bold;
      }
      
      .start-date {
        position: absolute;
        top: 0;
        right: 5px;
        font-weight: bold;
      }
      
      .top-data {
        font-size: 12px;
        padding: 25px 10px 0 10px;
        display: flex;

        img {
          height: 60px;
          margin-right: 10px;
        }

        .top-data-text {
          .booking-number {
            font-weight: bold;
            font-size: 14px;
            cursor: pointer;
          }
          .field-name {
            
          }

          .field-sports {
            height: 20px;

            .field-sport {
              float: left;
              margin-left: 5px;
              border-radius: 5px;
              background-color: $dark-color;
              color: white;
              text-align: center;
              font-size: 12px;
              padding-left: 5px;
              padding-right: 5px;
              justify-content: center;
              display: flex;
              align-content: center;
            }
          }
        }
      }
      
      .bottom-data {
        padding-top: 15px;
        
        .bottom-data-row {
          display: flex;
          justify-content: right;
          padding-right: 10px;
          .item-text {

          }
          .item-value {
            margin-left: 5px;
            font-weight: bold;
          }
        }
      }
    }
  }

  .booking-list-no-bookings {
    height: calc(100vh - 80px);
    display: flex;
    padding-top: 20vh;
    justify-content: center;
  }
}