.dashboard-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: relative;

  .dashboard-calc-date {
    position: absolute;
    top: 0;
    left: 5px;
    font-size: 11px;
    color: #666;
  }
  
  .dashboard-row {
    display: flex;
    flex: 1;
    max-height: 50%;
  }

  .dashboard-column {
    display: flex;
    flex: 1;
    flex-direction: column;
  }
}

.dashboard-section {
  width: 100%;
  height: 100%;
  background-color: white;
  
  .section-name {
    width: 100%;
    height: 25px;
    line-height: 64px;
    font-size: 15px;
    text-align: center;
  }
  .section-chart-cont {
    width: 100%;
    height: calc(100% - 20px);
    
    .chart {
      width: 100%;
      height: 100%;
      
        tspan {
          font-family: 'Stadium Engine Sans Pro' !important;
        }
      }
  }
}