@import "src/css/const.scss";

.css-1mrufi {
  min-height: calc(100vh - 138px);
  background-color: white;
}
.css-96e9fn > div:first-child {
  position: sticky;
  top: 36px;
  z-index: 1000;
  background-color: white;
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}
.css-1ujnqem-MuiTabs-root {
  position: sticky;
  top: 68px;
  z-index: 1000;
  background-color: white;
}

/*.css-12aktbw {
  .css-xkctyi {
    top: 141px !important;
    background-color: white;
  }
}*/
.css-73xuqe {
  .css-1j5p8wz {
    top: 135px !important;
  }
}

.week {
  .css-1mrufi > div {
    width: 515px;
  }
}

.day {
  .css-1mrufi > div {
    width: 340px;
  }
}


.css-1c41lei-MuiListItem-root {
  background-color: white;
}
.css-xkctyi {
  height: 1px !important;
}
.MuiButton-text {
  font-family: "Stadium Engine Sans Pro" !important;
}

.scheduler-field {
  font-size: 14px !important;
  padding: 15px;
  display: flex;
  background-color: white;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  font-family: "Stadium Engine Sans Pro" !important;
  text-transform: initial !important;

  img {
    height: 40px;
    margin-right: 10px;
  }

  .scheduler-field-text {

    .scheduler-field-name {
      font-weight: bold;
    }

    .scheduler-field-sports {
      height: 20px;

      .field-sport {
        float: left;
        margin-left: 5px;
        border-radius: 5px;
        background-color: $dark-color;
        color: white;
        text-align: center;
        font-size: 12px;
        padding-left: 5px;
        padding-right: 5px;
        justify-content: center;
        display: flex;
        align-content: center;
      }
    }
  }
}

button {
  .scheduler-field {
    padding: 0 !important;
    border-right: none !important;
    border-bottom: none !important;
    
    .scheduler-field-sports {
      margin-top: 5px;
    }
  }
}

.css-s22wio {
  svg[data-testid="SupervisorAccountRoundedIcon"] {
    display: none;
  }
}

.css-nl6has {
  .cancel {
    color: white !important;
  }
  .delete {
    color: white !important;
    font-weight: bold;
  }
}

.scheduler-legend-row {
  display: flex;
  margin-top: 5px;
  
  .scheduler-legend-square {
    width: 20px;
    height: 20px;
  }
}
.css-z0slbs-MuiTypography-root {
  font-family: "Stadium Engine Sans Pro" !important;
}
.event-extra-row {
  color: rgba(0, 0, 0, 0.6);
  font-size: 12px;
}

.booking-cancel-overlay {
  width: 380px;
  padding: 15px;
  
  textarea {
    width: 350px !important;
  }
  .checkbox {
    margin-top: 10px;
  }
  .booking-cancel-overlay-buttons {
    margin-top: 10px;
    text-align: center;
  }
}

.booking-list-container {
  height: 100%;
  background-color: #eeeeee;
  
  .booking-list-mode {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;
    height: 28px;

    label {
      margin-bottom: 0 !important;
    }
  }
  
  .booking-list-filters {
    height: 48px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 5px;
  }
  
  .booking-list-messages {
    font-size: 12px;
    padding-top: 5px;
  }
}

.move-booking-container {
  width: 800px;
  padding: 15px;
  
  .move-booking-filters {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
    padding-bottom: 10px;
    
    label {
      margin-top: 5px;
    }
  }
  
  .move-booking-fields {
    max-height: 250px;
    min-height: 250px;
    padding-top: 10px;
    overflow-y: auto;
    
    .no-fields {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 240px;
    }
    
    .move-booking-field-card {
      font-size: 14px !important;
      padding: 15px;
      display: flex;
      width: 50%;
      flex-direction: column;
      background-color: white;
      font-family: "Stadium Engine Sans Pro" !important;
      text-transform: initial !important;
      margin-top: 10px;
      float: left;
      
      .move-booking-slots {
        padding-top: 10px;
        height: 180px;
        
        .move-booking-slot {
          float: left;
          margin-top: 8px;
          margin-left: 5px;
          border-radius: 5px;
          width: calc(20% - 5px);
          background-color: #eee;
          cursor: pointer;
          text-align: center;
          font-size: 12px;
          position: relative;
          
          &:hover, &.active {
            background-color: $dark-color;
            color: white;
          }
        }
      }

      .move-booking-field {
        display: flex;
        
        img {
          height: 40px;
          margin-right: 10px;
        }

        .move-booking-field-text {

          .move-booking-field-name {
            font-weight: bold;
          }

          .move-booking-field-sports {
            height: 20px;

            .field-sport {
              float: left;
              margin-left: 5px;
              border-radius: 5px;
              background-color: $dark-color;
              color: white;
              text-align: center;
              font-size: 12px;
              padding-left: 5px;
              padding-right: 5px;
              justify-content: center;
              display: flex;
              align-content: center;
            }
          }
        }
      }
    }
  }
  
  .move-booking-buttons {
    text-align: right;
    margin-top: 10px;
  }
}

.booking-checkout-container {
  background-color: rgba(245, 245, 245, 0.3);
  overflow: auto;
  min-height: 100vh;
  max-width: 600px;
  padding: 0 20px;

  .scheduler-booking-tariff-buttons {
    height: 20px;
    margin-top: 10px;

    span {
      float: left;
    }

    .scheduler-booking-tariff-button {
      float: left;
      margin-left: 5px;
      background-color: transparent;
      color: #777;
      text-align: center;
      font-size: 12px;
      padding-left: 5px;
      padding-right: 5px;
      justify-content: center;
      display: flex;
      align-content: center;
      cursor: pointer;

      &.current {
        border-bottom: 2px solid $dark-color;
        color: $dark-color;
      }
    }
  }

  .booking-warning {
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;

    i {
      font-size: 20px;
      color: $blue-color;
    }

    .booking-warning-text {
      display: flex;
      flex-direction: column;
      line-height: 12px;
      margin-left: 8px;

      span {
        font-size: 12px;
      }
    }


  }

  .booking-locker-room-weekly-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 10px;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;

    .booking-locker-room-weekly-row-right {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
    }

    .checkbox {
      margin-top: 10px;
    }
  }

  .booking-checkout-header {
    font-weight: bold;
    font-size: 16px;
    padding-top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .booking-checkout-stadium {
    font-size: 15px;
    padding-top: 10px;
  }

  .booking-checkout-field {
    font-size: 14px;
    padding-top: 15px;
    display: flex;

    img {
      height: 80px;
      margin-right: 10px;
    }

    .booking-checkout-field-text {

      .booking-checkout-field-name {
        font-weight: bold;
      }
      .booking-checkout-field-description {
        height: 38px;
        font-size: 13px;
        padding-left: 5px;
      }

      .booking-checkout-field-sports {
        height: 20px;

        .field-sport {
          float: left;
          margin-left: 5px;
          border-radius: 5px;
          background-color: $dark-color;
          color: white;
          text-align: center;
          font-size: 12px;
          padding-left: 5px;
          padding-right: 5px;
          justify-content: center;
          display: flex;
          align-content: center;
        }
      }
    }
  }

  .booking-checkout-durations {
    padding-top: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .booking-checkout-amount {
    display: flex;
    justify-content: flex-end;
    font-size: 17px;
    padding-top: 10px;
  }

  .booking-checkout-inventories {
    padding-top: 15px;
    border-top: 1px solid #eee;
    margin-top: 10px;

    .booking-checkout-inventories-title {
      font-size: 15px;
    }

    .booking-checkout-inventory-row {
      display: flex;
      margin-top: 10px;
      padding: 5px;
      align-items: center;
      justify-content: space-between;

      .booking-checkout-inventory-row-block {
        display: flex;
        width: 50%;
        justify-content: space-between;
        align-items: center;

        img {
          height: 50px;
          width: 50px;
          margin-right: 10px;
        }

        .booking-checkout-inventory-row-name {
          font-weight: bold;
        }

        .booking-checkout-inventory-row-button {
          cursor: pointer;
          font-size: 16px;
          font-weight: bold;
        }

        .booking-checkout-inventory-row-price {
          margin-right: 15px;
          font-weight: bold;
        }
      }
    }

  }

  .booking-manual-discount {
    padding-top: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 3px !important;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;

    span {
      margin-right: 5px;
      font-size: 15px;
    }
  }

  .booking-checkout-promo {
    padding-top: 15px;
    display: flex;
    align-items: center;
    margin-bottom: 3px !important;
    justify-content: flex-end;

    input {
      width: 250px !important;
    }

    i {
      cursor: pointer;
      font-size: 16px;
      margin-left: 10px;
    }
  }

  .booking-checkout-promo-message {
    text-align: right;
    width: 100%;
  }

  .booking-checkout-inputs {
    width: 100%;
    display: block;
    overflow: auto;
    padding-top: 10px;
    padding-bottom: 10px;

    label {
      width: 100%;
      margin-bottom: 5px;
    }

    .field {
      margin-top: 10px !important;
    }
  }

  .booking-checkout-buttons {
    margin-top: 5px;
    justify-content: flex-end;
    display: flex;
    width: 100%;
  }
}

.booking-form-container {
  background-color: rgba(245, 245, 245, 0.5);
  overflow: hidden;
  min-height: 100vh;

  .booking-form-header {
    padding-top: 9px;
    display: flex;

    &-left {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      float: left;
    }

    &-right {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      float: left;
    }
  }

  .booking-form-cards {
    overflow: auto;
    padding-bottom: 10px;
    min-height: calc(100vh - 102px);

    .booking-form-field-card {
      background-color: white;
      margin-top: 10px;
      position: relative;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

      .field-carousel {
        height: 150px;

        .carousel {
          height: 100%;

          .slider-wrapper {
            height: 100%;

            .slider {
              height: 100%;
            }
          }

        }

        img {
          object-fit: cover;
          height: 100%;
        }
      }

      .field-name {
        height: 25px;
        width: 100%;
        position: relative;
        padding-left: 15px;
        padding-top: 10px;
        font-size: 14px;
        font-weight: bold;
      }

      .field-description {
        height: 46px;
        padding: 10px 15px;
        font-size: 12px;
        line-height: 13px;
      }

      .field-covering {
        padding-left: 5px;
        padding-right: 5px;
        font-weight: bold;
        font-size: 9px;
        position: absolute;
        z-index: 3;
        top: 130px;
        color: white;
        background-color: rgba(0,0,0,0.5);
        left: 0;
      }

      .field-stadium {
        padding-left: 5px;
        padding-right: 5px;
        font-weight: bold;
        font-size: 12px;
        position: absolute;
        z-index: 3;
        top: 0;
        color: white;
        background-color: rgba(0,0,0,0.5);
        right: 0;
      }

      .field-min-price {
        padding-left: 5px;
        padding-right: 5px;
        font-weight: bold;
        font-size: 15px;
        position: absolute;
        z-index: 100;
        bottom: 8px;
        color: $dark-color;
        right: 12px;
      }

      .field-sports {
        height: 30px;
        padding: 0 10px;

        .field-sport {
          float: left;
          margin-left: 5px;
          border-radius: 5px;
          background-color: $dark-color;
          color: white;
          text-align: center;
          font-size: 12px;
          padding-left: 5px;
          padding-right: 5px;
          justify-content: center;
          display: flex;
          align-content: center;
        }
      }

      .field-slots {
        height: 210px;
        width: calc(100% - 10px);
        padding: 5px 15px;
        border-top: 1px solid #eee;

        .no-slots {
          height: 100%;
          align-items: center;
          justify-content: center;
          display: flex;
          text-align: center;
          font-size: 15px;
        }

        .field-slot {
          float: left;
          margin-top: 8px;
          margin-left: 5px;
          border-radius: 5px;
          width: calc(20% - 5px);
          background-color: #eee;
          cursor: pointer;
          text-align: center;
          font-size: 12px;
          position: relative;

          .one-hour-label {
            position: absolute;
            background-color: #CD5C5C;
            padding: 1px 3px;
            top: -5px;
            font-size: 6px;
            height: auto;
            line-height: 8px;
            font-weight: bold;
            text-align: center;
            right: -2px;
            color: white;
            border-radius: 3px;
          }

          &:hover {
            background-color: $dark-color;
            color: white;
          }
        }

      }
    }
  }

  .booking-form-min-time {
    color: #666;
    padding-top: 5px;
    padding-right: 15px;
    width: 100%;
    justify-content: flex-end;
    display: flex;
  }

  .booking-form-date-picker {
    width: 150px;
  }

  .booking-form-search-input {
    width: calc(100% - 51px);
  }

  .booking-form-no-fields {
    height: calc(100vh - 80px);
    display: flex;
    padding-top: 20vh;
    justify-content: center;
  }
}

.slot-popup-header {
  font-size: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.slot-popup-value {
  font-size: 18px;
}

@media (max-width: 576px) {
  .booking-form-header {
    flex-direction: column;
  }
  .booking-form-header-right {
    justify-content: space-between !important;
    margin-top: 5px;
  }
  .booking-form-header-left {
    flex-direction: column;
  }
  .booking-form-search-input-container {
    display: flex;
    margin-top: 5px;

    .booking-form-search-input {
      margin-left: 0 !important;
      width: 100% !important;
    }
    button {
      margin-right: 0 !important;
    }
  }
}