@import "src/css/const.scss";

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.navbar-brand-ext {
  margin-right: 0 !important;

  .logo {
    height: 32px;
  }
}



.lk-button {
  font-size: 14px !important;
  border: 1px solid $dark-color !important;
  padding: 5px 15px !important;
  color: $dark-color !important;
  
  &:hover {
    background-color: #eee !important;
  }
}
