@import "src/css/const.scss";

.booking-form-container {
  background-color: rgba(245, 245, 245, 0.5);
  overflow: hidden;
  min-height: 100vh;

  .booking-form-header {
    padding-top: 9px;
    display: flex;
    
    &-left {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      float: left;
    }

    &-right {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      float: left;
    }
  }

  .booking-form-cards {
    overflow: auto;
    padding-bottom: 10px;
    min-height: calc(100vh - 102px);
    
    .booking-form-field-card {
      background-color: white;
      margin-top: 10px;
      position: relative;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

      .field-carousel {
        height: 150px;

        .carousel {
          height: 100%;

          .slider-wrapper {
            height: 100%;

            .slider {
              height: 100%;
            }
          }

        }

        img {
          object-fit: cover;
          height: 100%;
        }
      }

      .field-name {
        height: 25px;
        width: 100%;
        position: relative;
        padding-left: 15px;
        padding-top: 10px;
        font-size: 14px;
        font-weight: bold;
      }

      .field-description {
        height: 46px;
        padding: 10px 15px;
        font-size: 12px;
        line-height: 13px;
      }

      .field-covering {
        padding-left: 5px;
        padding-right: 5px;
        font-weight: bold;
        font-size: 9px;
        position: absolute;
        z-index: 3;
        top: 130px;
        color: white;
        background-color: rgba(0,0,0,0.5);
        left: 0;
      }

      .field-stadium {
        padding-left: 5px;
        padding-right: 5px;
        font-weight: bold;
        font-size: 12px;
        position: absolute;
        z-index: 3;
        top: 0;
        color: white;
        background-color: rgba(0,0,0,0.5);
        right: 0;
      }

      .field-min-price {
        padding-left: 5px;
        padding-right: 5px;
        font-weight: bold;
        font-size: 15px;
        position: absolute;
        z-index: 100;
        bottom: 8px;
        color: $dark-color;
        right: 12px;
      }

      .field-sports {
        height: 30px;
        padding: 0 10px;

        .field-sport {
          float: left;
          margin-left: 5px;
          border-radius: 5px;
          background-color: $dark-color;
          color: white;
          text-align: center;
          font-size: 12px;
          padding-left: 5px;
          padding-right: 5px;
          justify-content: center;
          display: flex;
          align-content: center;
        }
      }

      .field-slots {
        height: 210px;
        width: calc(100% - 10px);
        padding: 5px 15px;
        border-top: 1px solid #eee;
        
        .no-slots {
          height: 100%;
          align-items: center;
          justify-content: center;
          display: flex;
          text-align: center;
          font-size: 15px;
        }

        .field-slot {
          float: left;
          margin-top: 8px;
          margin-left: 5px;
          border-radius: 5px;
          width: calc(20% - 5px);
          background-color: #eee;
          cursor: pointer;
          text-align: center;
          font-size: 12px;
          position: relative;
          
          .one-hour-label {
            position: absolute;
            background-color: #CD5C5C;
            padding: 1px 3px;
            top: -5px;
            font-size: 6px;
            height: auto;
            line-height: 8px;
            font-weight: bold;
            text-align: center;
            right: -2px;
            color: white;
            border-radius: 3px;
          }

          &:hover {
            background-color: $dark-color;
            color: white;
          }
        }

      }
    }
  }

  .booking-form-min-time {
    color: #666;
    padding-top: 5px;
    padding-right: 15px;
    width: 100%;
    justify-content: flex-end;
    display: flex;
  }
  
  .booking-form-date-picker {
    width: 150px;
  }
  
  .booking-form-search-input {
    width: calc(100% - 51px);
  }
  
  .booking-form-no-fields {
    height: calc(100vh - 80px);
    display: flex;
    padding-top: 20vh;
    justify-content: center;
  }
}

.slot-popup-header {
  font-size: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.slot-popup-value {
  font-size: 18px;
}

@media (max-width: 576px) {
  .booking-form-header {
    flex-direction: column;
  }
  .booking-form-header-right {
    justify-content: space-between !important;
    margin-top: 5px;
  }
  .booking-form-header-left {
    flex-direction: column;
  }
  .booking-form-search-input-container {
    display: flex;
    margin-top: 5px;

    .booking-form-search-input {
      margin-left: 0 !important;
      width: 100% !important;
    }
    button {
      margin-right: 0 !important;
    }
  }
}