.accounts-container {
  height: 100%;
  width: 100%;
  flex-direction: column;
  display: flex;

  .roles-container {
    flex: 1;
    width: 100%;
    
    .add-role-button {
      margin-left: 3px;
    }
    
    .no-rows-message {
      margin-left: 5px;
    }
  }
  
  .users-container {
    flex: 1;
    width: 100%;

    .add-user-button {
      margin-left: 3px;
    }

    .no-rows-message {
      margin-left: 5px;
    }
  }
  
  .stadiums-container {
    flex: 1;
    width: 100%;
    
    .fa-link {
      cursor: pointer;
    }
  }
}

.permissions-container {
  padding: 5px 8px;
  
  .outer-container {
    padding: 5px;
    float: left;
    width: 25%;
    
    .inner-container {
      border: 1px solid #ccc;
      padding: 8px;
      background-color: white;
      -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
      -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
      box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
      
      
      .permission {
        width: 100%;
        margin-top: 8px;
        min-height: 40px;
        
        .permission-inner {
         
          .permission-inner-descr {
            font-size: 11px;
            color: #666;
            text-overflow: ellipsis;
            word-wrap: break-word;
            overflow: hidden;
            line-height: 12px;
            margin-top: -2px;
          }
        }
      }
    }
    
    .permission-group-title {
      width: 100%;
      font-size: 15px;
      font-weight: bold;
    }
    

    .accounts-permissions-container, .actives-permissions-container {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 100%;
      
      .accounts-permission, .actives-permission  {
        flex: 1 0 25%;
      }
    }
  }
  
  
}

