@import "src/css/const.scss";

#root {
  overflow: hidden;
}

.forbidden-message {
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.right-container {
  width: 100%;
  background-color: #eeeeee;
  display: flex;
  flex-direction: column;

  .lk-header {
    width: 100%;
    height: 46px;
    background-color: white;
    
    .stadium-list {
      margin-left: 16px;
      color: $dark-color !important;
      
      .item {
        color: $dark-color !important;
      }
    }
    .header-icons {
      display: flex;
      flex-direction: row;
      padding-right: 10px;
      
      div {
        margin-right: 10px;
        cursor: pointer;
      }

      .portal-button {

        color: $dark-color;
      }
    }
  }

  .content-container {
    width: 100%;
    height: 100%;
    
    .tabs-container {
      width: 100%;
      height: 100%;
      
      .tabs-links {
        width: 100%;
        height: 36px;
        display: inline-block;
        background-color: white;
        
        
          
          a {
            color: $dark-color;

            .tabs-link {
              height: 100%;
              padding: 8px;
              width: fit-content;
              block-size: fit-content;
              float: left;
          }
          &.active {
            .tabs-link {
              border-bottom: 2px solid $dark-color;
            }
            
          }
        }
      }
      
      .tabs-content {
        width: 100%;
        height: calc(100% - 42px);
      }
    }
  }
  
}


.grid-container {
  height: calc(100% - 24px);
  padding: 1px;
  width: 100%;

  .ag-header-cell-label {
    justify-content: center !important;
  }

  .grid-loading-header {
    height: 48px;
    background-color: #f8f8f8;

    th {
      padding: 0;
      border-bottom: none !important;
      text-align: center !important;
      vertical-align: middle !important;
      overflow:auto;
    }
  }
}

.grid-title {
  height: 24px;
  text-align: center;
  font-size: 15px;
}