@import "src/css/const.scss";

#root {
  height: 100%;
}

.forbidden-message {
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.right-container {
  width: 100%;
  background-color: #eeeeee;
  display: flex;
  flex-direction: column;

  .lk-header {
    width: 100%;
    min-height: 46px;
    padding: 0;
    background-color: white;

    .stadium-list {
      margin-left: 16px;
      color: $dark-color !important;
      max-width: calc(100% - 200px);
      text-overflow: ellipsis;

      .item {
        color: $dark-color !important;
      }
    }

    .header-icons {
      display: flex;
      flex-direction: row;
      padding-right: 10px;
      height: 100%;
      align-items: center;

      div {
        margin-right: 10px;
        cursor: pointer;
      }

      .portal-button {

        color: $dark-color;
      }
    }

    .back-button {
      cursor: pointer;
      font-size: 20px;
    }
  }

  .content-container {
    width: 100%;
    height: 100%;
    overflow-y: auto;

    .tabs-container {
      width: 100%;
      height: 100%;

      .tabs-links {
        width: 100%;
        height: 36px;
        display: inline-block;
        background-color: white;
        position: sticky;
        top: 0;
        z-index: 5;

        a {
          color: $dark-color;

          .tabs-link {
            height: 100%;
            padding: 8px;
            width: fit-content;
            block-size: fit-content;
            float: left;
          }

          &.active {
            .tabs-link {
              border-bottom: 2px solid $dark-color;
            }

          }
        }
      }

      .tabs-content {
        width: 100%;
        height: calc(100% - 42px);
      }
    }
  }

}


.grid-container {
  height: calc(100% - 28px);
  padding: 1px;
  width: 100%;

  .ag-header-cell-label {
    justify-content: center !important;
  }

  .grid-loading-header {
    height: 48px;
    background-color: #f8f8f8;

    th {
      padding: 0;
      border-bottom: none !important;
      text-align: center !important;
      vertical-align: middle !important;
      overflow: auto;
    }
  }
}

.grid-title {
  height: 28px;
  text-align: center;
  line-height: 28px;
  font-size: 16px;
  font-weight: bold;
}

.header-warning {
  display: flex;
  align-items: center;

  i {
    font-size: 20px;
    color: $blue-color;
  }

  .header-warning-text {
    display: flex;
    flex-direction: column;
    line-height: 12px;
    margin-left: 8px;

    span {
      font-size: 12px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }


}

.main-settings-form {
  padding: 15px;

  #name-input {
    width: 400px;
  }
}

.lk-footer {
  width: 100%;
  font-size: 12px;
  padding: 1px 10px;
  color: #aaa;
  border-top: 1px solid #ddd;
}