@import "src/css/const.scss";

.right-container {
  width: 100%;
  background-color: #eeeeee;
  display: flex;
  flex-direction: column;

  .lk-header {
    width: 100%;
    height: 46px;
    background-color: white;
    
    .stadium-list {
      margin-left: 16px;
      color: $dark-color !important;
      
      .item {
        color: $dark-color !important;
      }
    }
    .header-icons {
      display: flex;
      flex-direction: row;
      padding-right: 10px;
      
      div {
        margin-right: 10px;
        cursor: pointer;
      }

      .portal-button {

        color: $dark-color;
      }
    }
  }

  .content-container {
    width: 100%;
    height: 100%;
  }
}