@import "src/css/const.scss";

.locker-rooms-container, .fields-container {
  height: 100%;
}

.locker-room-form, .field-form {
  padding: 15px;
  
  #name-input {
    width: 400px;
  }
  
  .gender-radio-container {
    display: flex;
    align-items: center;
    
    .gender-radio {
      margin-left: 10px;
      
      label {
        padding: 0 !important;
      }
      
      i {
        font-size: 20px;
        color: $dark-color;
        margin-left: 5px;
      }
      
    }
  }
}

.field-form {
  .field-size-cont {
    display: flex;
    align-items: center;
    
    .field-size-input {
      width: 100px !important;
      
      &#width-input {
        margin-left: 5px;
      }
      &#length-input {
        margin-right: 5px;
      }
    }
  }
  
  .field-images {
    
    .field-image {
      height: 300px;
      float: left;
      padding: 5px;
      
      .tools {
        height: 32px;
        border: 1px solid #ccc;
        border-bottom: none;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }
      
      img {
        height: calc(100% - 32px);
        max-width: 400px;
      }
    }
  }
}