@import "src/css/const.scss";

.locker-rooms-container, .fields-container, .inventories-container {
  height: 100%;
}

.locker-room-form, .field-form, .inventory-form {
  padding: 15px;

  #name-input {
    width: 400px;
  }

  .gender-radio-container {
    display: flex;
    align-items: center;

    .gender-radio {
      margin-left: 10px;

      label {
        padding: 0 !important;
      }

      i {
        font-size: 20px;
        color: $dark-color;
        margin-left: 5px;
      }

    }
  }

  .locker-room-status {
    text-align: center;
    padding: 8px 8px;
  }
}

.inventory-form {
  .price-qty-container {
    display: flex;

    .delimiter {
      width: 10px;
    }
  }
}

.field-form {
  .field-size-cont {
    display: flex;
    align-items: center;

    .field-size-input {
      width: 100px !important;

      &#width-input {
        margin-left: 5px;
      }

      &#length-input {
        margin-right: 5px;
      }
    }
  }
}

.offer-images {

  .offer-image {
    height: 300px;
    float: left;
    padding: 5px;
    position: relative;

    .tools {
      height: 32px;
      position: absolute;
      width: calc(100% - 10px);
      background-color: rgba(255, 255, 255, 0.7);
      display: flex;
      justify-content: space-between;
      z-index: 1;

      .change-order-buttons {
        height: 100%;
        align-items: center;
        display: flex;
        padding-top: 4px;

        i {
          cursor: pointer;
          font-size: 22px;

          &.right {
            margin-left: -10px;
          }
        }
      }

      .remove-buttons {
        height: 100%;
        align-items: center;
        display: flex;
        padding-right: 5px;
        padding-bottom: 3px;

        i {
          cursor: pointer;
          font-size: 16px;
        }
      }
    }

    img {
      height: calc(100% - 32px);
      max-width: 400px;
    }
  }
}

.locker-room-status {
  width: 100%;
  cursor: pointer;

  &.unknown {
    background-color: #eee;
  }

  &.busy {
    background-color: lightgoldenrodyellow;
  }
  &.ready {
    background-color: #3CB371;
    color: white;
  }

  &.need-cleaning {
    background-color: #CD5C5C;
    color: white;
  }
}