@import "src/css/const.scss";

.price-groups-container, .tariffs-container {
  height: 100%;
}

.price-group-form, .tariff-form {
  padding: 15px;

  #name-input {
    width: 400px;
  }

  .checkbox {
    margin-right: 20px;
  }
  
  .tariff-interval-timeline {
    display: flex;
    padding-left: 30px;
    
    .tariff-interval-cont {
      display: flex;
      
      .tariff-interval-point-cont {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        .tariff-interval-point {
          background-color: $dark-color;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          
          &.small {
            width: 5px;
            height: 5px;
            margin-top: 1px;
          }
        }
        .tariff-interval-point-text {
          font-size: 8px;
        }
      }
      
      .tariff-interval-point-line {
        background-color: $dark-color;
        flex: 0.3;
        margin-top: 3px;
      }
    }
  }
}

.prices-container {
  .fields-header {
    display: flex;
    flex-direction: row;
    
    .top-left-cell {
      width: 80px;
    }
    .fields-header-cell {
      width: 220px;
      text-align: center;
      font-weight: bold;
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }
  
  .tariff-block {
    display: flex;
    flex-direction: column;
    
    .tariff-name {
      width: 100%;
      background-color: #bbb;
      font-weight: bold;
      padding-left: 5px;
      padding-top: 2px;
      padding-bottom: 2px;
    }
    
    .tariff-interval-row {
      display: flex;
      flex-direction: row;
      
      .tariff-interval-name {
        width: 80px;
        font-size: 12px;
        padding-left: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: #ddd;
        box-shadow:
                1px 0 0 0 #ccc,
                0 1px 0 0 #ccc,
                1px 1px 0 0 #ccc,   /* Just to fix the corner */
                1px 0 0 0 #ccc inset,
                0 1px 0 0 #ccc inset;
      }
      
      .tariff-interval-value {
        position: relative;
        width: 220px;
        padding-top: 5px;
        padding-bottom: 5px;
        text-align: center;
        box-shadow:
                1px 0 0 0 #ddd,
                0 1px 0 0 #ddd,
                1px 1px 0 0 #ddd,   /* Just to fix the corner */
                1px 0 0 0 #ddd inset,
                0 1px 0 0 #ddd inset;
        
        input {
          text-align: center;
        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
        input[type=number] {
          -moz-appearance: textfield;
        }
      }
    }
  }
}