@import "src/css/const.scss";

.css-1mrufi {
  min-height: calc(100vh - 138px);
  background-color: white;
}
.css-96e9fn > div:first-child {
  position: sticky;
  top: 36px;
  z-index: 1000;
  background-color: white;
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}
.css-1ujnqem-MuiTabs-root {
  position: sticky;
  top: 68px;
  z-index: 1000;
  background-color: white;
}

/*.css-12aktbw {
  .css-xkctyi {
    top: 141px !important;
    background-color: white;
  }
}*/
.css-73xuqe {
  .css-1j5p8wz {
    top: 135px !important;
  }
}

.week {
  .css-1mrufi > div {
    width: 515px;
  }
}

.day {
  .css-1mrufi > div {
    width: 340px;
  }
}


.css-1c41lei-MuiListItem-root {
  background-color: white;
}
.css-xkctyi {
  height: 1px !important;
}
.MuiButton-text {
  font-family: "Stadium Engine Sans Pro" !important;
}

.scheduler-field {
  font-size: 14px !important;
  padding: 15px;
  display: flex;
  background-color: white;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  font-family: "Stadium Engine Sans Pro" !important;
  text-transform: initial !important;

  img {
    height: 40px;
    margin-right: 10px;
  }

  .scheduler-field-text {

    .scheduler-field-name {
      font-weight: bold;
    }

    .scheduler-field-sports {
      height: 20px;

      .field-sport {
        float: left;
        margin-left: 5px;
        border-radius: 5px;
        background-color: $dark-color;
        color: white;
        text-align: center;
        font-size: 12px;
        padding-left: 5px;
        padding-right: 5px;
        justify-content: center;
        display: flex;
        align-content: center;
      }
    }
  }
}

button {
  .scheduler-field {
    padding: 0 !important;
    border-right: none !important;
    border-bottom: none !important;
    
    .scheduler-field-sports {
      margin-top: 5px;
    }
  }
}

.css-s22wio {
  svg[data-testid="SupervisorAccountRoundedIcon"] {
    display: none;
  }
}

.css-nl6has {
  .cancel {
    color: white !important;
  }
  .delete {
    color: white !important;
    font-weight: bold;
  }
}

.scheduler-legend-row {
  display: flex;
  margin-top: 5px;
  
  .scheduler-legend-square {
    width: 20px;
    height: 20px;
  }
}
.css-z0slbs-MuiTypography-root {
  font-family: "Stadium Engine Sans Pro" !important;
}
.event-extra-row {
  color: rgba(0, 0, 0, 0.6);
  font-size: 12px;
}