@import "src/css/const.scss";

.sign-in-container {
  
  .logo-container {
    text-align: center;
    padding: 30px;
    z-index: 2;
    
    .logo {
      height: 40px;
    }

    .version-title {
      font-size: 10px;
      margin-top: -14px;
      align-self: center;
    }
    
    
  }
  
  
  .portal-button {
    position: absolute;
    top: 8px;
    right: 16px;
    z-index: 123;
    color: white;
  }
  
  
  .color-block {
    position: absolute;
    height: 500px;
    width: 500px;
    background: -webkit-linear-gradient(90deg, #00d2ff,#0c8bfe);
    background: linear-gradient(90deg, #00d2ff,#0c8bfe);
    border-radius: 120px;
    z-index: 1;
    
    &.bottom-color-block {
      right: 85vw;
      bottom: 0;
      -webkit-transform: rotate(-30deg);
      -ms-transform: rotate(-30deg);
      transform: rotate(-30deg);
      background: -webkit-linear-gradient(-90deg, #00d2ff,#0c8bfe);
      background: linear-gradient(-90deg, #00d2ff,#0c8bfe);
    }

    &.top-color-block {
      left: 85vw;
      bottom:  60vh;
      -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
      transform: rotate(30deg);
    }
  }
  
  form {
    margin-top: 50px;
    
    .form-group {
      text-align: center;
    }

    input[type=text], input[type=password] {
      background-color: white;
      border: none;
      border-bottom: 2px solid $dark-color;
      border-top: 0px;
      border-radius: 0px;
      font-weight: bold;
      outline: 0;
      margin-bottom: 20px;
      padding-left: 0px;
      color: $dark-color;
    }

    input:focus {
      outline: none;
      box-shadow: 0 0 0;
    }
    
    label {
      margin-bottom: 0px;
      font-size: 16px;
      color: #6C6C6C;
      letter-spacing: 1px;
    }
    
    button {
      width: 100%;
      background: -webkit-linear-gradient(-90deg, #00d2ff,#0c8bfe);
      background: linear-gradient(-90deg, #00d2ff,#0c8bfe);
      outline: none !important;
      border: none;
      color: white;
      border-radius: 10px;
      padding: 10px;
    }
  }
}