@import "src/css/const.scss";

.lk-version-title {
  font-size: 6px;
  letter-spacing: 0px;
  position: absolute;
  left: 58px;
  top: 23px;
}

.head-div {
  padding: 8px 30px !important;
  align-items: center;
  min-height: 44px;

  .icon-suffix {
    height: 16px !important;
  }
}





