@import "src/css/const.scss";

.booking-checkout-container {
  background-color: rgba(245, 245, 245, 0.3);
  overflow: auto;
  min-height: 100vh;
  max-width: 600px;
  padding: 0 20px;

  .booking-checkout-header {
    font-weight: bold;
    font-size: 16px;
    padding-top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  .booking-checkout-stadium {
    font-size: 15px;
    padding-top: 10px;
  }
  
  .booking-checkout-field {
    font-size: 14px;
    padding-top: 15px;
    display: flex;
    
    img {
      height: 80px;
      margin-right: 10px;
    }
    
    .booking-checkout-field-text {
      
      .booking-checkout-field-name {
        font-weight: bold;
      }
      .booking-checkout-field-description {
        height: 38px;
        font-size: 13px;
        padding-left: 5px;
      }

      .booking-checkout-field-sports {
        height: 20px;

        .field-sport {
          float: left;
          margin-left: 5px;
          border-radius: 5px;
          background-color: $dark-color;
          color: white;
          text-align: center;
          font-size: 12px;
          padding-left: 5px;
          padding-right: 5px;
          justify-content: center;
          display: flex;
          align-content: center;
        }
      }
    }
  }
  
  .booking-checkout-durations {
    padding-top: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .booking-checkout-amount {
    display: flex;
    justify-content: flex-end;
    font-size: 17px;
    padding-top: 10px;
  }
  
  .booking-checkout-inventories {
    padding-top: 15px;
    border-top: 1px solid #eee;
    margin-top: 10px;

    .booking-checkout-inventories-title {
      font-size: 15px;
    }
    
    .booking-checkout-inventory-row {
      display: flex;
      margin-top: 10px;
      padding: 5px;
      align-items: center;
      justify-content: space-between;

      .booking-checkout-inventory-row-block {
        display: flex;
        width: 50%;
        justify-content: space-between;
        align-items: center;
        
        img {
          height: 50px;
          width: 50px;
          margin-right: 10px;
        }
        
        .booking-checkout-inventory-row-name {
          font-weight: bold;
        }
        
        .booking-checkout-inventory-row-button {
          cursor: pointer;
          font-size: 16px;
          font-weight: bold;
        }
        
        .booking-checkout-inventory-row-price {
          margin-right: 15px;
          font-weight: bold;
        }
      }
    }
    
  }

  .booking-checkout-promo {
    padding-top: 15px;
    display: flex;
    align-items: center;
    margin-bottom: 3px !important;
    justify-content: flex-end;
    
    input {
      width: 250px !important;
    }
    
    i {
      cursor: pointer;
      font-size: 16px;
      margin-left: 10px;
    }
  }

  .booking-checkout-promo-message {
    text-align: right;
    width: 100%;
  }

  .booking-checkout-inputs {
    width: 100%;
    display: block;
    overflow: auto;
    padding-top: 25px;
    
    label {
      width: 100%;
      margin-bottom: 5px;
    }
    
    .field {
      margin-top: 10px !important;
    }
  }
  
  .booking-checkout-buttons {
    margin-top: 15px;
    justify-content: flex-end;
    display: flex;
    width: 100%;
  }
}