@import "src/css/const.scss";

.booking-form-field-card {
  border: 1px solid #eee;
  border-radius: 3px;
  margin-top: 5px;
  
  .field-carousel {
    height: 150px;
    
    .carousel {
      height: 100%;
      
      .slider-wrapper {
        height: 100%;
        
        .slider {
          height: 100%;
        }
      }
      
    }
    
    img {
      object-fit: cover;
      height: 100%;
    }
  }
  
  .field-name {
    height: 20px;
    width: 100%;
    position: relative;
    padding-left: 5px;
    padding-top: 5px;
    font-size: 15px;
    font-weight: bold;
  }
  
  .field-description {
    height: 40px;
    padding: 5px;
    font-size: 12px;
    line-height: 12px;
  }
  
  .field-covering {
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;
    font-size: 9px;
    position: absolute;
    z-index: 100;
    top: 136px;
    color: white;
    background-color: rgba(0,0,0,0.5);
    left: 16px;
  }
  
  .field-sports {
    height: 30px;
    
    .field-sport {
      float: left;
      margin-left: 5px;
      border-radius: 5px;
      background-color: #eee;
      cursor: pointer;
      text-align: center;
      font-size: 12px;
      padding-left: 5px;
      padding-right: 5px;
      justify-content: center;
      display: flex;
      align-content: center;
    }
  }
  
  .field-slots {
    height: 70px;
    width: calc(100% - 10px);
    margin-left: 5px;
    border-top: 1px solid #eee;
    padding-top: 10px;
    
    .field-slot {
      float: left;
      margin-left: 5px;
      border-radius: 5px;
      width: 35px;
      background-color: #eee;
      cursor: pointer;
      text-align: center;
      font-size: 12px;
    }
  }
  
  .field-buttons {
    display: flex;
    justify-content: flex-end;
    padding: 5px;
    position: relative;
    
    button {
      width: 50%;
    }

    .field-min-price {
      font-weight: bold;
      font-size: 15px;
      color: #333;
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}