@import "src/css/const.scss";

.header-right-container {
  display:flex;
  justify-content: center;
  align-items: center;
  padding-right: 15px;

  .authorized-user-info {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    
    &-name {
      font-weight: bold;
    }
    
    &-legal {
      font-size: 11px;
      margin-top: -8px;
      text-align: right;
    }
  }
}

.header-left-container {
  padding-left: 15px;
  
  .panel-admin-title {
    font-size: 13px;
    letter-spacing: 0px;
    margin-top: -4px;
  }
}

.language-container {
  
  ul {
    font-size: 13px !important;
  }

  div {
    padding-bottom: 0 !important;
    margin-right: 0 !important;

    button {
      font-size: 13px !important;
      padding: 0.5px 0 !important;
      padding-right: 8px !important;

      span:first-child {
        padding-left: 3px !important;
        padding-right: 3px !important;

        .ReactFlagsSelect-module_label__27pw9 {
          padding-left: 1px !important;
        }

      }
    }

    .ReactFlagsSelect-module_selectBtn__19wW7:after {
      margin-left: 0 !important;
    }
  }
}

.grid-container {
  .grid-center-cell {
    text-align: center;
  }
  
  .ag-cell {
    border-right: 1px solid #eee;
    
    &.without-border {
      border-right: none;
    }
    
    .link-cell {
      cursor: pointer;
      text-decoration: underline;
    }
    
    
  }
}
