@import "../const";

.legals-container {
  height: 100%;
  padding: 0 5px;

  .legals-container-filter {
    .input {
      width: 250px;
    }

    button, span {
      margin-left: 5px;
    }

  }

}